@import '../../../../sass/main';

$message-columns-laptopL:10%;
$message-columns-laptop:15%;
$message-columns-tablet:20%;

.message{
  display:grid;
  grid-template-columns: 5% auto 1fr;
  grid-template-areas:
  'avatar namedate .'
  'avatar message message';
  font-size: 1.6rem;
  margin-bottom:1rem;
  grid-gap:1rem;
  align-items: end;
  @include respond(laptopL){
    grid-template-columns: $message-columns-laptopL auto 1fr;
  }
  @include respond(laptop){
    grid-template-columns: $message-columns-laptop auto 1fr;
  }

  @include respond(tablet){
    grid-template-columns: $message-columns-tablet auto 1fr;
  }

  &--hover{
      visibility: hidden;
      opacity: 0;
  }

  &:hover {

    & .message--hover{
        visibility: visible;
        opacity:1;
      }
  }


  &__avatar{
    grid-area:avatar;
    border-radius:50%;

  }
  &__namedate{
    grid-area:namedate;
  }
  &__name{
    font-size: 2rem;
    cursor:pointer;
    margin-right:1rem;

    &:hover{
      text-decoration: underline;
    }

  }

  &__date{
    grid-area:date;
    font-size: 1.2rem;
    color:$color-text;

      // not selectable
    -moz-user-select: -moz-none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -o-user-select: none;
     user-select: none;


  }

  &__message{
    grid-area:message;
    align-self: stretch;

  }

  &--show-full{
    grid-template-areas:'date message';
    grid-template-columns: 5% auto;

    @include respond(laptopL){
      grid-template-columns: $message-columns-laptopL auto;
    }

    @include respond(laptop){
      grid-template-columns:$message-columns-laptop auto;
    }

    @include respond(tablet){
          grid-template-columns: $message-columns-tablet auto;
    }
  }

  &--is-first{
      margin-top:5rem;
  }


}

.avatar{
  display:block;
  width:50px;
  height:50px;
  object-fit: cover;
  border-radius:inherit;
}
