@import '../../../../sass/main';

$title-color: #17a2b8;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  border-radius: inherit;
  margin-bottom:3rem;

  @include respond(mobileL){
    grid-template-columns:1fr;
  }


  & > div {
    border-radius: inherit;
  }
}

.item {
  border: #ccc solid 1px;
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  color: $title-color;
  margin-bottom: 2rem;
}

.field {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.content {
  font-weight: 400;
}
