@import '../../../../sass/main';

$transition:all 0.2s ease;

.container{
  position:relative;
  display: flex;
  justify-content: center;
  width:100%;
}
.navbar__item{

  &:link,
  &:visited{
    text-decoration:none;
  }
}

.icon{
  color:#43b581;
  font-size:24px;
  transition: $transition;
}

.logout{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background-primary;
  height:4.8rem;
  width:4.8rem;
  border-radius: 50%;
  transition: $transition;

  &::before{
    content:'';
    position:absolute;;
    left:0;
    height:0;
    width:5px;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    background-color:#fff;
    transition:$transition;
  }

  &:hover{

    border-radius: 25%;
    &::before{
      height:50%;
    }
    & .icon{
      color:$color-white;
      transform: rotate(90deg);
    }
  }
}
