@import '../../../../sass/main';

$transition:all 0.2s ease;

.container{
  position:relative;
  display: flex;
  justify-content: center;
  width:100%;
  margin-bottom: 2rem;
}
.navbar__item{

  &:link,
  &:visited{
    text-decoration:none;
  }
}

.icon{
  color:#43b581;
  font-size:24px;
  transition: $transition;
}

.button__outer{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background-primary;
  height:4.8rem;
  width:4.8rem;
  border-radius: 50%;
  transition: $transition;


  &::before{
    content:'';
    position:absolute;;
    left:0;
    height:0;
    width:5px;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    background-color:#fff;
    transition:$transition;
  }



  &:hover{

    border-radius: 25%;
    &::before{
      height:50%;
    }
    & .icon{
      color:$color-white;

    }
    & .rotate{
      transform: rotate(90deg);
    }
    & .tool-tip::before,
    & .tool-tip::after{
        opacity:1;
    }
  }
}

.tool-tip{

  &::before{
    content:"";
    position:absolute;
    display: flex;
    height:3rem;
    width:6rem;
    font-size: 1.2rem;
    background-color:black;
    color:$color-white;
    top:50%;
    left:130%;
    transform:translate(-50%,-50%);

    transition:all 0.2s ease;
    justify-content: center;
    align-items: center;
    opacity:0;
    border-radius:5px;

  }

  &::after{
    content:'';
    position:absolute;
    background-color: black;
    top:50%;
    left:92%;
    height:1rem;
    width:1rem;
    transform-origin: center;
    transform:rotate(45deg) translate(-50%,-25%);
    opacity:0;
    transition:all 0.2s ease;

  }

  &--logout::before{
    content:'Logout';
  }

  &--profile::before{
    content:'Profile';
  }

}
