.button {
  border: none;
  padding: 1.5rem;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 2rem;
  width: max-content;
  transition: all 0.2s ease;
  border-radius: 2.5px;


}
.info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #10707f;

  &:hover {
    background-color: #138496;
    border-color: #117a8b;
  }
}
