$color-primary:#7289da;
$color-primary-hover:#677bc4;

$color-text:#72767d;


$color-background-tertiary:#202225;
$color-background-secondary:#2f3136;
$color-background-primary:#36393f;

$color-profile:#17a2b8;
$color-white:#fff;

$box-shadow:0 2px 10px 0 rgba(0,0,0,.2);

$push-down-padding:10rem;

$max-width:1140px;
