.container{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  border:1px solid grey;
  margin-bottom: 2rem;
  padding:.5rem;
  font-size: 1.35rem;
  border-radius: 2px;


  &:focus{
    background-color: yellow;
  }

}

.input{
  height:100%;
  margin-left:5px;

  &[contenteditable]{
    outline-color:transparent;

  }

  &:focus{

  }
}
