@import '../../../../../sass/main';

.container{
  border-bottom: 1px solid #e5e7e9;
  padding-bottom:5rem;
  margin-bottom: 5rem;
}

.title{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left:20rem;
  margin-bottom: 5rem;


  &__text{
    display:inline-block;
    text-transform:uppercase;
    border-bottom: solid .1rem $color-profile;
    font-size:2rem;
    font-weight:lighter;
    padding-bottom:1rem;
  }
}
