@import '../../../sass/main';

.landing{
  height:100vh;
  width:100%;
  background:url('../../../assets/img/simple-codeline.svg'), rgba(#2b3137,0.8);


}
.container{
  display:grid;
  grid-template-columns: 1fr .7fr;
  grid-template-areas:'title form';
  justify-content: center;
  align-items: center;
  height:100%;
  max-width:$max-width;
  margin:0 auto;

}


.title{
  grid-area: title;
  color:$color-white;
  width:90%;

  &--big{
    font-size: 6.4rem;
    margin-bottom: 3rem;
  }

  &--small{
    font-size: 2rem;
  }
}

.form{
  grid-area:form;
}
