@import '../../../sass/main';

.landing{
  height:100vh;
  width:100%;
  // background-color: #26262b;
    background-image:url('../../../assets/img/auth.jpg');
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}



.button{
  display: inline-block;
  font-size: 3rem;
  padding:3rem;
  border-radius:5px;
  background-color: $color-background-primary;

  &:first-child{
    margin-right:5rem;
  }

  &:visited,
  &:link{
    text-decoration: none;
    color:#fff;
  }
}
