@import '../../../sass/main';

$navbar-padding:2rem;

.container{
  display:grid;
  height:100vh;
  width:100%;
  grid-template-columns: 4.5% 13% 1fr 15%;
  grid-template-rows: 8%  1fr  10%;
  grid-template-areas:
  "navbar channel header header"
  "navbar channel chat-room member-bar"
  "navbar channel chat-bar member-bar"
}
.items{
  font-size: 3rem;
  color:#fff;

}
.navbar{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area:navbar;
  background-color: $color-background-tertiary;
  width:calc(100% + #{$navbar-padding});
  padding:$navbar-padding;
  padding-left:0;

}

.header{
  grid-area:header;
  padding:$navbar-padding;
  background-color:$color-background-primary;
  border-bottom:1px solid $color-background-tertiary;
  font-size: 2rem;
  display:flex;
  align-items: center;

}

.channel{
  display:grid;
  grid-template-rows: 8%  1fr  10%;
  grid-area:channel;
  background-color:$color-background-secondary;
  border-top-left-radius: 20px;


  &__title{
    display:flex;
    grid-row: 2 / 1;
    border-bottom: 1px solid #202225;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
    height:100%;
    padding:2rem;
  }
  &__name{
    grid-row:2 / 3;
    padding:2rem;
  }

  &__add-channel{
    grid-row:3 / 4;
    padding:2rem;

  }
}

.chat-room{
  grid-area:chat-room;
  background-color:$color-background-primary;
  overflow-y: scroll;
  padding:3rem;


  &::-webkit-scrollbar{

  width: 10px;
  height: 8px;
  border-radius: 5px;

  }

  &::-webkit-scrollbar-thumb{

    border-radius: 5px;
    background-color: $color-background-tertiary;
  }
}
.chat-bar{
  grid-area:chat-bar;
  background-color:$color-background-primary;
  padding:1.5rem;

  &__type-block{
    height:80%;
    background-color: #4f545c;
    color:#dcddde;
    caret-color: currentColor;
    border-radius:5px;
    outline:none;
    font-size:1.6rem;
    padding:1rem;
  }
}
.member-bar{
  grid-area:member-bar;
  background-color:$color-background-secondary;
  padding:0 2rem;
}
