@import '../../../../../sass/main';

$transition:all 0.2s ease;


.container{
  position:relative;
  display: flex;
  margin-bottom: 2rem;
  width:100%;
  justify-content: center;
}
.navbar__item{

  &:link,
  &:visited{
    text-decoration:none;
  }
}

.icon{
  color:#43b581;
  font-size:24px;
  transition: $transition;
}

.button__outer{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background-primary;
  height:4.8rem;
  width:4.8rem;
  border-radius: 50%;
  transition: $transition;


  &::before{
    content:'';
    position:absolute;;
    left:0;
    height:0;
    width:5px;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    background-color:#fff;
    transition:$transition;
  }



  &:hover{
    border-radius: 25%;
    &::before{
      height:50%;
    }
    & .icon{
      color:$color-white;
    }
    & .rotate{
      transform: rotate(90deg);
    }
    & + .tool-tip > .tool-tip--inner{
          opacity:1;
    }
    & + .tool-tip::after{

      border-color:transparent black transparent transparent;
    }
  }
}

.tool-tip{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:100%;
  &--inner{
    position:relative;
    display: flex;
    height:3rem;
    width:6rem;
    font-size: 1.2rem;
    background-color:black;
    color:$color-white;
    transition:all 0.2s ease;
    justify-content: center;
    align-items: center;
    opacity:0;
    border-radius:5px;
  }

  &::after{
    content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  transition:$transition;

   // border-color:transparent black transparent transparent;
  }


}
