@import '../../../../sass/main';
.submit-button{
    height:4rem;
    width:100%;
    cursor:pointer;
    background-color: #7289da;
    font-size: 1.6rem;
    border:none;
    color:#fff;
    border-radius:5px;
        transition:all 0.2s ease;
    &:focus{
      outline:none;
    }
    &:hover{
      background-color:$color-primary-hover;
    }
}


.auth-spinner{
  height:25px;
  width:25px;
}
