@import '../../../sass/main';
.container{
  padding-top:$push-down-padding;
  display:flex;
  flex-direction:column;
  // grid-template-columns: auto 2fr;
  // grid-template-areas:'avatar profile ';
  // justify-content: center;
  max-width:$max-width;
  margin: 0 auto;
  border-radius:2.5px;
  // grid-gap:10rem;
}

.avatar{
  background-color:#17a2b8;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: inherit;
  color:white;
  padding:3rem;
  &__img{
    // display: block;
    width:23rem;
    border-radius: 50%;
    margin:0 0 2rem;
  }

  &__username{
    font-size:4.5rem;
    font-weight:bold;

    margin-bottom:2rem;
  }


  &__education{
    font-size:2rem;
    font-weight:lighter;
  }
}

.profile{
  grid-area:profile;
  width:100%;
  border-radius: inherit;
  // align-self: center;

}
